*.mp3
*.json
*.vtt
*.tsv
*.srt
app/__pycache__
.env
eb-venv/
data/not needed/quran-dataset.txt
Fix.pem
venv/


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
